.home{
    background-color: antiquewhite;
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_1280.jpg");
    background-size: cover;
    background-position: center;
}
.site-logo{
    height: 60px;
    width: 60px;
}
#nav-color{
    color: white;
}
.site-name{
    list-style: none;
    color: white;
}
.navbar {
   
    background-color: transparent !important; /* Set the background color to transparent */
    background-image: none !important; /* Remove the background image */
  }
  
  .navbar-toggler-icon {
    color: white;
    /* background-color: #000; You might need to set a background color for the toggler icon */
  }
  
  .navbar-nav,
  .navbar-nav li,
  .navbar-nav a {
    color: rgb(242, 222, 222);
    /* background-color: transparent !important; Set the background color to transparent for list items and links */
  }
  .hr{
    width: 94%;
    height: 1px;
    border: 1px solid rgb(243, 175, 175);
    margin: auto;
    flex-shrink: 0;
    opacity: 0.4;
   position: sticky;
   top: 58px;
  }
  #search{
    margin-top: 8px;
    color: white;
    margin-left: 100px;
    margin-right:-159px;

  }
  #search span{
    font-size: 28px;
  }
  #profile{
    margin-top: 8px;
    color: white;
    margin-left:59px;
    
  }
  #profile span{
    font-size: 28px;
  }
.mid-section{
    display: flex;
    margin-top: 30px;
    justify-content: space-evenly;
}

  .mid-left{
    color: white;
    margin-top: 50px;
    text-align: center;
    padding-left:48px
  }
  .mid-selections{
    margin-top: 30px;
    padding: 10px;
    padding-left: 17px;
    padding-right: 18px;
    display: flex;
    /* justify-content: space-around; */
    gap: 20px;
    border-radius: 12px;
    justify-content: center;
  }

  .mid-selections select{
    padding-right: 40px;
    padding-left: 10px;
    border-color: rgb(255, 255, 255);
    color: white;
    border-radius: 12px;
  }
  #mid-date{
    padding-right: 40px;
    padding-left: 10px;
    border-radius: 12px;
    border-color: white;
    color: white;
  }

  .discount{
    margin-top: 50px;
  }

  .discount>div{
    justify-content: center;
    display: flex;
    gap: 10px;
  }
  .discount>div>span{
  color: rgb(43, 43, 235);
  }
  .timer{
    /* justify-content: center;
  display: flex; */
  text-align: center;
  }
  .mid-right i{
    font-size: 30px;
    color: white;
  }
  .mid-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    border-radius: 36px;
    margin-right: -284px;
    gap: 20px;
    width: 100px;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .hr2{
    width:30px;
    height: 1px;
    border: 1px solid rgb(243, 175, 175);
    flex-shrink: 0;
    opacity: 0.4;
  }