*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.con1{
  
 height: 180px;
 width: 100%;
background-image: url(./img/pexels-ben-cheung-715134.jpg);
background-size: cover;
background-position: center;
display: flex;

flex-direction: row;

align-items:center;


}

.h1{
    margin-left: 70px;
    margin: 60px;
    color: white;
    font-size: 20px;

}

#name{
 width: 350px;
 height: 50px;
 padding: 10px;

}
.input>span{

    margin: -40px;
    /* padding-top: 50px; */
    color: #ddd1cb;

}
.con2{

    height: 210px;
    width: 100%;
    padding-left:60px;
    background-color:  #d5e7fb;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */

}
.box1{

    margin-top: 30px;
}
.mbox2{
    margin-top:40px ;
width: 100%;
height: auto;
display: grid;
grid-template-columns: repeat(4,1fr);
gap: 20px;
/* border: 1px solid; */

}
.mbox2:hover{
    cursor: pointer;
}

.h2-c{
    /* margin: 40px; */
    margin: 30px;
    color:  #b18e8e;
}


.footer{
    height: auto;
    width: 100%;
    background-color:#3ea8ff;
}
.title{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.title>h3{
    color: white;
    font-weight: bold;
}

.ipt-btn{
    display: flex;
    justify-content: center;
    
}
#EInput{
    /* padding: 20px; */
    margin: 20px;
    width: 400px;
    height: 60px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    font-weight: bold;
    color:#004d8c;

}
.sbtn{
    height: 60px;
    width: 170px;
    margin: 20px;
    border-radius: 20px;
    color: #3ea8ff;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: white;

}

.sbtn:hover{
    background-color:rgb(255, 20, 20);
    color: white;
    border: 2px solid black;
}

.main-boxF{
     /* height: 500px; */
     display: grid;
   
     grid-template-columns: repeat(4,1fr);
     gap: 20px;
     display: flex;
     justify-content: space-evenly;
     margin-top: 40px;
     color: white;
}
.boxF{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 260px;
}
.media{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}


@media screen and (max-width:700px) {
    
    .mbox2{
        grid-template-columns: repeat(2,1fr);
    }
    .con2{
        height: 250px;
    }
    .con1{
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .h2{
        margin-left: 10px;
        margin: 60px;
        color: white;
        font-size: 20px;
    
    }
    .footer{
        height: auto;
    }
    .main-boxF{
        /* height: 500px; */
        display: grid;
        /* margin-top: -0px; */
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        /* display: flex;
        flex-wrap: wrap; */

        
   }
   .ipt-btn{
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
   }


    }
    @media screen and (max-width:500px) {
    
        .mbox2{
            grid-template-columns: repeat(1,1fr);
           height: auto;
           
        }
        .con1{
            display: flex;
            flex-direction: column;
            padding-bottom: 50px;
        }
        .h1>h2{
            margin-top: 20px;
        }
        .con2{
            height: 380px;
        }
        #name{
            width: 250px;
            height: 50px;
            padding: 10px;
           
           }
           .h1{
            margin-left: 10px;
            margin: 60px;
            color: white;
            font-size: 14px;
        
        }
        .main-boxF{
            /* height: 500px; */
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 20px;
            display: flex;
            flex-wrap: wrap;
    
            
       }
       .footer{
        height: auto;
       }
       .ipt-btn{
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        justify-content: center;
       }
        }

        /* con-2 box */
.box{

     color: white;
     font-weight: bold;
    height: auto;
    width: 220px;
    border: none;
    display: flex;
    flex-direction: row;
     flex-direction: column;

}
.img{
    text-align: center;
    margin-top: -40px;
}
.location{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   /* align-items: baseline; */
    font-weight: bold;
    /* padding: 20px; */
}
.call{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
    /* padding: 20px; */
}
.gmail{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-weight: bold;
    /* padding: 20px; */
}
.boxF>span{
    font-weight: bold;
    margin: 10px; 
   
}
.ul{
    text-align: center;
}
.ul>ul>li{
    list-style: none;
}
    
    