*{
    padding: 0 px;
    margin: 0 px;
}
h1{
    text-align: center;
   
}
.name{
    width: 300px;
    height: 30px;
    
   
}
.email{
    width: 300px;
    height: 30px;
}
.sub{
    width: 300px;
    height: 30px;
    margin-top: 10px;
}
.user{
    /* border: solid 2px; */
    display: flex;
    justify-content: center;
    gap: 30px;
}
.subject{
    display: flex;
    justify-content: center;
    /* border: solid 2px; */
}
